.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 5px 20px;
  background-color: var(--color-black); /* Dark background for the header */
  color: white; /* White text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &__right ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header__right ul {
    flex-direction: column;
    gap: 10px;
  }
}
