@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --color-primary: #ed6a5a;
  --color-secondary: #f4f1bb;
  --color-accent: #9bc1bc;

  --color-black: #222222;
  --color-white: #ffffff;
}

body {
  color: black;
  background-color: #f2f5f7;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

h4 {
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #ddd;
}
