.mainCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70vh;
	justify-content: center;

	.card {
		width: 50vw;
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 5px;
		padding: 60px;
		gap: 40px;

		.buttons {
			display: flex;
			gap: 20px;
		}
	}
}